@media (max-width: 768px) {
    form#financeForm {
        flex-direction: column;
        align-items: center;
    }

    #businessName,
    #paymentType,
    #amount,
    button {
        width: 90%;
        margin: 10px 0;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 50px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        text-align: center;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-label);
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .header {
        background-size: contain;
    }
}